@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&family=Inter:wght@400;500&display=swap');

.mural-listing {
  border-top: solid grey 2px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.mural-text {
  padding-left: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.mural-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mural-title > h3 {
  margin: 0;
}

.mural-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-start;
  font-family: 'Inter', sans-serif;
}

.likes-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.likes-number {
  margin: 0;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.like-button {
  border: none;
  background: none;
}

.visited-button {
  height: fit-content;
  width: fit-content;
  margin-left: 5px;
  border-radius: 25%;
  border: solid #767676 2px;
  background: none;
}

.mural-description {
}

.likes-heart {
  width: 15px;
  height: 15px;
}